.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(67, 66, 93, 1);
}

.content {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: center;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 0px 15px;
  background-color: beige;
}

.add-funds-btn {
  display: flex;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  height: 2.5rem;
  width: 8rem;
  font-size: 10px;
  align-items: center;
}

.add-funds-btn img {
  justify-items: center;
  background-color: rgba(67, 66, 93, 0.3);
  border-radius: 35px;
  height: 25px;
  width: auto;
}
