.main-wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  /* width: 100vw;
  height: 100vh; */
  flex: 1 1 300px;
}

.side-nav-collapsed {
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-left: -254px;
  transition: all 0.4s ease;
}
.content-main > .side-nav-collapsed {
  display: flex;
  flex-wrap: wrap;
  padding-left: -254px;
}

.content-header > .side-nav-collapsed {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: -254px;
}
.sub-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100px;
  padding: 0% 2%;
  align-items: center;
  background-color: #f5f7fb;
}

.add-funds-btn {
  display: flex;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  height: 2.5rem;
  width: 8rem;
  font-size: 10px;
  align-items: center;
}

.add-funds-btn img {
  justify-items: center;
  background-color: rgba(67, 66, 93, 0.3);
  border-radius: 35px;
  height: 25px;
  width: auto;
}
