.content-grid {
  display: grid;
  background-color: beige;
  grid-template-rows: 1fr 1fr 0.3fr 0.3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "grid-1 grid-2 grid-3"
    "grid-1 grid-2 grid-3"
    "grid-4 grid-4 grid-3"
    "grid-4 grid-4 grid-5"
    "grid-4 grid-4 grid-5";
  gap: 20px;
  padding: 20px;
}

.grid-1 {
  grid-area: grid-1;
  background-color: blue;
  border-radius: 5px;
}
.grid-2 {
  grid-area: grid-2;
  background-color: violet;
  border-radius: 5px;
}
.grid-3 {
  grid-area: grid-3;
  background-color: gold;
  border-radius: 5px;
}
.grid-4 {
  grid-area: grid-4;
  background-color: hotpink;
  border-radius: 5px;
}
.grid-5 {
  grid-area: grid-5;
  background-color: khaki;
  border-radius: 5px;
}
