.content-grid {
  background-color: beige;
  grid-area: [ grid-1 grid-2 grid-3 ];
}

.grid-1 {
  grid: grid-1;
  background-color: blue;
}
.grid-2 {
  grid: grid-2;
  background-color: violet;
}
.grid-3 {
  grid: grid-3;
  background-color: brown;
}
