.chart-heading {
  display: flex;
  margin: 7px 12px;
  justify-content: space-between;
  align-items: center;
}
.chart-heading img {
  position: relative;
  top: 8px;
  left: -5px;
}

.chart-heading p {
  padding: 10px;
  margin: 5px;
}

.chart {
  margin: 9px;
  position: relative;
  top: 50px;
}
