.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 7px;
  background-color: white;
  border-top-left-radius: 18px;
}

.header-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 1%;
  margin: 5px;
}

.header-search {
  display: flex;
  position: relative;
  margin-left: 3%;
}
.header-search button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header-search input[type="text"] {
  border: 0;
  width: 230px;
  padding: 2%;
  font-size: 12px;
}
.header-search input:focus {
  outline: none;
}
.header-right {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  margin: 5px;
}

.header-notification sup {
  position: relative;
  top: -13px;
  left: -12px;
  background-color: yellowgreen;
  font-size: 1px;
  border-radius: 100px;
  padding: 2px;
}
.header-name {
  font-size: x-small;
  align-self: center;
}
.header-profile-pic {
  width: 30px;
  height: auto;
  border-radius: 99px;
}
.side-nav-collapsed {
  padding-right: 10px;
  justify-content: space-around;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 50px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 2px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu li {
  display: flex;
  font-size: small;
  height: 40px;
  text-align: center;
  justify-content: safe;
  padding: 5px;
}
.dropdown-menu img {
  border-radius: 50px;
  justify-content: space-between;
  text-align: center;
  width: 40px;
}
.dropdown-menu li img {
  position: relative;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .header-search input[type="text"] {
    display: none;
  }
}
