.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 7px;
  background-color: white;
  border-top-left-radius: 18px;
}

.header-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 5px;
}

.header-search {
  display: flex;
  position: relative;
  margin-left: 2vw;
}

.header-search input[type="text"] {
  border: 0;
  width: 230px;
  padding: 4px;
  font-size: 12px;
}
.header-search input:focus {
  outline: none;
}
.header-right {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  margin: 5px;
}

.header-notification sup {
  position: relative;
  top: -13px;
  left: -12px;
  background-color: yellowgreen;
  font-size: 1px;
  border-radius: 100px;
  padding: 2px;
}
.header-name {
  font-size: x-small;
  align-self: center;
}
.header-profile-pic {
  width: 30px;
  height: auto;
  border-radius: 99px;
}
.side-nav-collapsed {
  padding-right: 10px;
  justify-content: space-around;
}
