<div class="header">
  <div class="header-left">
    <div class="header-burger">
      <button class="btn header-btn" (click)="onClickedSideNav()">
        <img src="../../../assets/sprites/menu-burger.png" alt="" />
      </button>
    </div>
    <div class="header-search">
      <label for="header-search"
        ><img src="../../../assets/sprites/search.png"
      /></label>
      <input
        type="text"
        id="header-search"
        placeholder="Search transactions, invoices or help."
      />
    </div>
  </div>
  <div class="header-right">
    <div class="header-notification">
      <img src="../../../assets/sprites/bell.png" />
    </div>
    <span class="header-name">John Doe</span>
    <img src="../../../assets/sprites/down-arrow.png" />
    <div class="header-account">
      <img class="header-profile-pic" src="../../../assets/profile-pic-01.jpg" />
    </div>
  </div>
</div>
