<div class="header">
  <div class="header-left">
    <div class="header-burger">
      <button class="btn header-btn" (click)="onClickedSideNav()">
        <img src="../../../assets/sprites/menu-burger.png" alt="" />
      </button>
    </div>
    <div class="header-search">
      <label for="header-search"
        ><img src="../../../assets/sprites/search.png"
      /></label>
      <input
        type="text"
        id="header-search"
        placeholder="Search transactions, invoices or help."
      />
    </div>
  </div>
  <div class="header-right">
    <div class="header-notification">
      <a>
        <img src="../../../assets/sprites/bell.png" />
      </a>
      <sup></sup>
    </div>
    <p class="header-name">John Doe</p>
    <a>
      <img src="../../../assets/sprites/down-arrow.png" />
    </a>
    <div class="header-account">
      <a>
        <img
          class="header-profile-pic"
          src="../../../assets/profile-pic-01.jpg"
        />
      </a>
    </div>
  </div>
</div>
