.header {
  display: flex;
  width: calc(100vw - 254px);
  justify-content: space-around;
  padding: 5px 10px;
  transition: all 0.3s ease;
  background-color: saddlebrown;
  border-top-left-radius: 25px;
}
.header::before {
  border-top: 2px;
  border-radius: 5px;
}

.header-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 5px;
}
.header-search {
  display: flex;
  position: relative;
  margin-left: 2vw;
}

.header-search input[type="text"] {
  border: 0;
  width: 230px;
  padding: 4px;
  font-size: 12px;
}
.header-search input:focus {
  outline: none;
}
.header-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 5px;
}
.header-name {
  font-size: x-small;
  align-self: center;
}
.header-profile-pic {
  width: 30px;
  height: auto;
  border-radius: 99px;
}
.side-nav-collapsed {
  justify-content: space-around;
  width: 100vw;
}
