.chart2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.chart-heading p {
  padding: 10px;
  margin: 5px;
}
.chart2 span {
  position: relative;
  text-align: center;
  top: 50%;
}
